node_modules/
.env
*.log
.DS_Store
coverage/
backup/
work/
*.pid
public/ProtoType/**/Thumbs.db
public/ProtoType/**/htaccess
public/ProtoType/img/thelightofwisdom*.html
public/ProtoType/font/NotoSerifSC-*.ttf
!public/ProtoType/font/NotoSerifSC-VariableFont_wght.ttf
